# Python Einführung
## Basics
Das ist eine Markdown-Zelle für Kommentare

In [33]:
print ("Hello World!")

Hello World!

## Kommentare

In [34]:
# Das ist ein Kommentar
print ("Hello World!")

Hello World!

## Einfache Datentypen

In [35]:
# Variablen und Wertezuweisung (Value-Assignment)
# String - Zeichenkette
name = "Hawking"
print(name)

Hawking

In [36]:
# Integer = Ganzzahl
age = 73
print(age)

73

In [37]:
# Float - Gleitkommazahl
size = 1.7123
print(size)

1.7123

In [38]:
# Bolean - Boolscher Wert
is_scientist = True
print(is_scientist)

True

In [39]:
type(name)

str

In [40]:
name
age

73

In [41]:
print(name)
print(age)

Hawking
73

## Operatoren

In [42]:
5+5

10

In [43]:
5*10

50

In [44]:
age*3

219

In [45]:
name*8

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [46]:
name*50

'HawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawkingHawking'

In [47]:
name+10

TypeError: can only concatenate str (not "int") to str

In [ ]:
name/10

In [ ]:
name*500

In [ ]:
name+"10"

In [ ]:
size/age

In [ ]:
number_of_articles = "50"

In [ ]:
number_of_articles/10

In [ ]:
int(number_of_articles) / 10

In [ ]:
type(number_of_articles)

In [ ]:
zahl = 5
andere_zahl = 6

In [ ]:
zahl+andere_zahl

In [ ]:
# Befehl für jupyter-notebook
%who

In [49]:
zahl = "10"
int(zahl)
type(zahl)

str

## Funktionen und Methoden

In [51]:
len(name)

7

In [52]:
name.upper()

'HAWKING'

In [53]:
name

'Hawking'

In [54]:
name=name.upper()
print(name)

HAWKING

In [55]:
name

'HAWKING'

In [57]:
name.replace("W", "Blablabla")

'HABlablablaKING'

In [58]:
first_name=Anna

NameError: name 'Anna' is not defined

In [59]:
first_name = "Anna"

In [60]:
first_name.count("A")

1

In [61]:
first_name + name

'AnnaHAWKING'

In [62]:
first_name + " " + name

'Anna HAWKING'

## Listen und Dictionaries

In [64]:
names = ["Darwin", "Hawking", "Curie"]

In [65]:
names[1]

'Hawking'

In [66]:
names[0]

'Darwin'

In [67]:
names[3]

IndexError: list index out of range

In [68]:
names[2]

'Curie'

In [69]:
len(names)

3

In [70]:
names[-1]

'Curie'

In [71]:
names[0:2]

['Darwin', 'Hawking']

In [72]:
names[0:3]

['Darwin', 'Hawking', 'Curie']

In [73]:
names[:2]

['Darwin', 'Hawking']

In [74]:
slice_value = 2

In [75]:
names[slice_value]

'Curie'

In [76]:
names

['Darwin', 'Hawking', 'Curie']

In [77]:
names[1:]

['Hawking', 'Curie']

In [78]:
names[:slice_value]

['Darwin', 'Hawking']

In [79]:
names[slice_value:]

['Curie']

In [83]:
# Dictionary
authors_and_ages = {"Darwin" : 73, 
                    "Goethe" : 83, 
                    "Lovelace" : 37}

In [81]:
authors_and_ages["Darwin"]

73

In [94]:
authors_and_ages = {"Darwin" : 73, 
                    "Goethe" : 83, 
                    "Lovelace" : 37}

In [85]:
authors_and_ages["Darwin"]

'dreiundsiebzig'

In [86]:
names.append("Kleist")

In [87]:
names

['Darwin', 'Hawking', 'Curie', 'Kleist']

In [96]:
authors_and_ages["Rowling"] = 53

In [89]:
authors_and_ages

{'Darwin': 'dreiundsiebzig', 'Goethe': 83, 'Lovelace': 37, 'Rowling': '53'}

In [97]:
authors_and_ages

{'Darwin': 73, 'Goethe': 83, 'Lovelace': 37, 'Rowling': 53}

## for-Schleife

In [98]:
for name in names:
    print(name)

Darwin
Hawking
Curie
Kleist

In [100]:
for name in names:
    print(name + " is a great name")

Darwin is a great name
Hawking is a great name
Curie is a great name
Kleist is a great name

## Bedingte Anweisungen (Conditionals)

In [103]:
temp = 10
if temp > 15:
    print("It's warm")

In [102]:
20 > 15

True

In [106]:
temp = 15
if temp >= 15:
    print("It's warm")
else: 
    print("It's cold")

It'warm

In [111]:
temp = 17
if temp >= 25:
    print("It's hot")
elif temp >= 15: 
    print("It's warm")
else:
    print("It's cold")

It's warm